<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="1"
	verbose="1">
	<listeners>

		<listener class-name="com.listeners.ListenersEx"></listener>
		<listener class-name="com.listeners.setRetryListner"></listener>

	</listeners>

	<test name="Test1" thread-count="1">
		<parameter name="browser" value="firefox"></parameter>
		<classes>
			<class name="com.testCases.Test2" />
		</classes>
	</test>


	<test name="Test2" thread-count="1">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="com.testCases.Test2" />
		</classes>
	</test>
</suite> 
